* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.2rem;
}

.calculator {
  border: 1px solid #e9cae1c0;
  border-radius: 5px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.calculator-input {
  width: 100%;
  font-size: 4rem;
  height: 70px;
  border: none;
  background-color: #ff009d;
  color: #fff;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2.5rem;
  color: #333;
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  color: #dc51b9;
}

.clear {
  background-color: #ff00d9;
  border-color: #ff00d9;
  color: #fff;
}

.clear:hover {
  background-color: #da1ebd;
}

.equal-sign {
  background-color: #eb7cd7;
  border-color: #dba5e3;
  color: #fff;
  height: 100%;
  grid-area: 2/4/6/5;
}

.equal-sign:hover {
  background-color: #e34ac2e2;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px
}